@import "tailwindcss";

@font-face {
  font-family: "Exo";
  src: url("../../public/assets/fonts/Exo-Regular_7_11zon.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("../../public/assets/fonts/Exo-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("../../public/assets/fonts/Exo-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Exo";
  src: url("../../public/assets/fonts/Exo-Regular_7_11zon.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

:root {
  --font-primary: "Exo";
}

body {
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;

  @apply bg-[#E1E4E8];
}

body :where(p, h1, h2, h3, strong, span) {
  @apply text-[#2E3A59];
}
